html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
  background-color: #e6dede;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.header {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
  grid-area: header;
  background-color: #38350e;
  color: #f1ece8a6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.brand a {
  color: #9dbccaa6;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}
.header-links a {
  color: #ffffff;
  text-decoration: none;
  padding: 1rem;
}
.header-links a:hover {
  color: #65cc3c;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
  background-color: #38350e;
  color: #f1ece8a6;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}
a {
  text-decoration: none;
}
.brand-Link a:hover {
  color: #917a64;
}
a:hover {
  color: #917a64;
}
.links a:hover {
  color: #65cc3c;
}
/* Home Screen */
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product-name {
  font-size: 2rem;
  font-weight: bold;
}
.product-brand {
  font-size: 1.2rem;
  color: #808080;
}
.product-price {
  font-size: 2rem;
  font-weight: bold;
}
.product-image {
  max-width: 34rem;
  max-height: 34rem;
}
.product-rating {
  margin-bottom: 1rem;
}
/* Sidebar */

.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  transform: translateX(-30rem);
  width: 23rem;
  background-color: #e6dede;
  /* border: 1px solid; */
  padding: 10px;
  box-shadow: 2px 5px 8px black;
  height: 50%;
}
.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  border-radius: 50%;
  border: 0.1rem #000000;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}
